.container {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 13%;
  border: none;
  padding: 16px;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .btn {
    width: max-content;
  }
}
